<%- include('../includes/head.ejs') %>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/cart.css">

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>
        <div class="backdrop1">
          <div class="modal1">
            <form action="/admin/add-product" method="POST" enctype="multipart/form-data">
              <div style="width:100%;font-size: 1.4rem;font-weight: 700;margin-bottom:1rem;padding:1rem 0;border-bottom: 4px solid yellow;color:#4267b2;letter-spacing: 2px;">ADD A NEW POST</div>
              <div class="form-group">
               <label for="title">Title</label>
               <input 
                   class="form-control <%= validationErrors.find(e => e.param === 'title') ? ' invalid' : '' %>"
                   type="text" 
                   name="title" 
                   id="title" 
                   aria-describedby="titleHelp"
                   placeholder="Title of your diary post">
                   </div>
                   <div class="form-row">
                    <div class="form-group col-md-6">
                      <label for="place">Place</label>
                      <input type="text" class=" form-control <%= validationErrors.find(e => e.param === 'place') ? ' invalid' : '' %>" id="place" placeholder="Place"
                      name="place" 
                        id="place" 
                        step="0.01" >
                        
                    </div>
                    <div class="form-group col-md-6">
                      <label for="date">Date</label>
                      <input type="date" class="form-control" id="date" placeholder="Date" name="date"
                      >
                    </div>
                  </div>
                  
            <div class="form-group">
              <label for="description">Description</label>
              <textarea 
                  class="form-control <%= validationErrors.find(e => e.param === 'description') ? ' invalid' : '' %>"
                  name="description" 
                  id="description" 
                  aria-label="With textarea"
                  rows="3"></textarea>
          </div>
          <label>Pic of the day</label>
              <input style="display: block; border: 1px solid grey;"
                  type="file" 
                  name="image" 
                  id="image" >
          
          
         

          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          
          <button class="btn btn-primary" style="margin-top: 1rem;background-color: #1e3c79;border-radius: 0%;" type="submit"  ><% if (editing) { %>Update Product<% } else { %>ADD POST<% } %></button>
          <button class="btn btn-danger" style="margin-top: 1rem;border-radius: 0%;background-color: transparent;color: red;border: none;font-weight: 600;" type="button" onclick="closeoverlay(this)" >CLOSE</button>    
        </form>
           </div>
          </div>
        
      
        <main><div class ="centered" style="top:28%;left:50%;transform:translateX(-50%);color:black;position: absolute;font-style: italic;font-size: 1.7rem;font-weight: 700;width:75%;margin:0 auto;">Write out your quick thoughts in short notes!</div>
          <div class="emotions centered " style="top:50%;position: absolute;left:50%;transform: translateX(-50%);">
            <div class="form-row" style="margin: 0;">
              <div class="col-md-3" style="padding: 0;border-left: 0.5px solid black;">
                <div class ="options" onclick="displayOverlay(this)">
                  <span style="margin:0 0.5rem;">
                    <img style ="max-height:80%;width:auto;"src="https://cdn-icons-png.flaticon.com/128/1828/1828817.png"/></span>
                  New Post
                </div> 
              </div>
              <div class="col-md-4" style="padding: 0;">
                <a style="text-decoration: none; font-weight: 700;" href="/products">
                  <div class ="options">
                    <span  style="margin:0 0.5rem;" >
                      <img style ="max-height:80%;width:auto;"src="https://cdn-icons-png.flaticon.com/512/2235/2235419.png"/>
              
                    </span>View All Entries
                  </div>
                  </a>
              </div>
              <div class="col-md-5" style="padding: 0;">
                <a style="text-decoration: none; font-weight: 700;" href="/getStarredProducts">
                  <div class ="options">
                    <span style="margin:0 0.5rem;">
                      <i class="fas fa-star"></i>
                      <!-- <img style ="max-height:80%;width:auto;"src="https://cdn-icons.flaticon.com/png/128/2224/premium/2224638.png?token=exp=1640295487~hmac=ede95938cd3b74c9b1a11e165248a89a"/> -->
                    </span>View Starred entries
                  </div>
                </a>
                
                
              </div>
            </div>
            
            <!-- <nav class="sideNavbar"><ul >
              <li >
                <div onclick="displayOverlay(this)">
                  <span style="margin:0 0.5rem;">
                    <img style ="max-height:80%;width:auto;"src="https://cdn-icons-png.flaticon.com/128/1828/1828817.png"/></span>
                  New Post
                </div>
              </li>
              <li ><a style="text-decoration: none; font-weight: 700;" href="/products">
                <div>
                  <span  style="margin:0 0.5rem;" >
                    <img style ="max-height:80%;width:auto;"src="https://cdn-icons-png.flaticon.com/512/2235/2235419.png"/>
            
                  </span>View All Entries
                </div>
                </a></li>
            <li>
              <div>
                <span style="margin:0 0.5rem;">
                  <img style ="max-height:80%;width:auto;"src="https://cdn-icons.flaticon.com/png/512/2224/premium/2224638.png?token=exp=1638145127~hmac=67f8fb1be6a70d76e91191c186ed06fb"/>
                </span>View Starred entries
              </div>
              </li></ul></nav> -->
        </div>
        </main>
        <%- include('../includes/end.ejs') %>
        <script src="/js/admin.js"></script>